.react-datepicker__day--highlighted-busy {
  background-color: #ff6f61; /* Change to your desired color */
  color: white;
}

/* Disabled dates */
.disabled-day {
  background-color: #e0e0e0;
  color: #b0b0b0;
  pointer-events: none;
}
.disabled-day:hover::after {
  content: "Xe đã có lịch booking";
  position: absolute;
  background: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1000;
}
.selected-day-range {
  background-color: #e6f7ff !important;
  color: #1890ff !important;
}