.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
  }
  
  .top-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .rectangle {
    background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  width: 18%;
  margin-left:10px;
  }
  
  .revenue-change {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -8px; /* Adjust the value to position it as a superscript */
    font-size: 12px;
    color: #333;
  }
  
  .revenue-change span {
    margin-left: 5px;
    font-size: 12px;
    color: #333;
  }
  
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Căn giữa các khối */
    width: 95%;
    margin-top: 20px;
  }
  
  .chart-box {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    margin: 10px; /* Khoảng cách giữa các khối */
    box-sizing: border-box;
  }
  
  .chart-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .chart-box h4 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  