/* Menu Container */
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px; 
  box-sizing: border-box; 
  overflow: hidden;
}

/* Menu Left */
.menu-left {
  width: 300px; 
  padding: 20px;
  position: sticky; 
  top : 0;
  height: 100%;
  flex-shrink: 0; 
 
}

/* Menu Right */
.menu-right {
  width: 100%;
  padding: 20px; /* Khoảng cách nội dung */
 
}

/* Menu List */
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 10px;
}
.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
}

.sub-menu.open {
  max-height: 500px; /* Adjust based on the expected height of the content */
  opacity: 1;
}

/* Menu Links */
.menu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 15px;
  border-radius: 4px; /* Bo góc liên kết để mềm mại hơn */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển tiếp */
}

.menu ul li a.log-out{
  color: red;
  font-weight: 700;
}

.menu ul li a:hover {
  background-color: #ece9e9;
}

.menu ul li a.active {
  /* background-color: #ddd; */
  color: #000; /* Màu chữ của menu item được chọn */
  font-weight: 600; /* Đổi font-weight để làm nổi bật menu item đang chọn */
  border-left: 4px solid #5fcf86;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Đặt menu và nội dung thành cột dọc trên màn hình nhỏ hơn */
  }


  .menu-left, .menu-right {
    width: 100%; /* Đặt chiều rộng của menu-left và menu-right 100% trên màn hình nhỏ hơn */
    height: auto; /* Để chiều cao tự động điều chỉnh */
  }

  .menu-right {
    overflow-y: auto; /* Cho phép cuộn nội dung trong phần content */
  }
}
